/* global */
a {
  text-decoration: none !important;
}
a:focus {
  outline: none !important;
}
/* react slick arrow modify */
.slick-prev, .slick-next{
    z-index: 100;
  }
 .slick-prev::before, .slick-next::before {
      font-size: 40px;
  }
  .slick-prev {
      left: 30px;
  }
  .slick-next {
    right: 30px;
  }
  
  /* end arrow modify */

  /* homepage slider */
  .slider-items {
  height: 520px;
  cursor: pointer;
  }
  .slider-items img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

/* icon slider container */
.icons-slider-container img {
  height: 80px;
}
.icons-slider-container a:focus {
  outline: none;
}
.icons-slider-container .icon-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.icons-slider-container p {
  font-size: 14px;
  text-align: center;
}
.icon-box {
  margin: 5px;
}
/* now trending slider */
.now-trending-container img {
  width: 100%;
  object-fit: cover;
} 
.now-trending-container .product-container {
  padding-left: 14px;
  padding-right: 14px ;
}
.now-trending-container .product-container:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
/* f container  */
.feacher-container img {
  width: 97%;
  object-fit: cover;
  
}
/* best selling container */
.b-product-container {
  margin: 10px !important;
  box-sizing: border-box;
}

.b-product-container img {
  height: 320px !important;
  width: 100%;
  object-fit: cover;
 
}
.b-product-container:hover {
  transform: scale(.9);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  
}






/* Responsive Mobile */
@media (max-width: 768px) {
  .slider-items {
    height: 400px;
  }
  /* icon slider container */
  .icons-slider-container p {
    font-size: 12px;
  }
  .icons-slider-container img {
    height: 60px;
  }
  .icons-slider-container .slick-prev::before, .icons-slider-container .slick-next::before {
    display: none;
  }
  /* tranding container */
  .now-trending-container .product-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* f container */
  .feacher-container img {
    height: 300px;
    object-fit: cover;
  }
  .b-product-container img {
    height: 240px !important;
  }
  .b-product-container {
    margin: 5px !important;
  }
}